<extend name="Public/common" />
<block name="style">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/common.css">
</block>
<block name="body">
    <div class="am-g admin-category">
        <div style="float: left">
            <a class="am-btn am-btn-danger" href="javascript:history.go(-1);">返回</a>
        </div>
        <div style="float: right">

        </div>
    </div>
    <br>
    <div class="am-g">
        <div class="am-u-lg-10 am-u-lg-offset-1">

        </div>
    </div>
</block>
<block name="script">
    <script>

    </script>
</block>