body {word-break:break-all;background-color:#fff;color:#333;font-size:13px;line-height:120%;margin-bottom:10px;margin-left:auto;margin-right:auto;width:95%;}
a {color:#282828;margin:2px;text-decoration:none;}
a:hover {color:red;text-decoration:none;}
.css_table {background-color:#e1e1e1;width:100%;}
.css_menu {background-color:#ededed;height:35px;letter-spacing:2px;}
.css_main {text-align:left;background-color:#ededed;}
.css_main_table {width:100%;background-color:#ededed;}
.css_main_table a {color:#000000;font-size:14px;font-weight:700;text-decoration:none;}
.css_main_table a:hover {text-decoration:none;}
.css_search {text-align:right;background-color:#ededed;}
.css_top {background-color:#e9e9e6;border-left:1px solid #FFF;border-top:1px solid #FFF;color:#7F7F7F;font-size:13px;font-weight:700;height:30px;letter-spacing:1px;padding:4px;text-align:center;}
.css_top a {color:#7F7F7F;font-size:13px;font-weight:700;letter-spacing:1px;text-decoration:none;}
.css_top a:hover {color:#7F7F7F;font-size:13px;font-weight:700;letter-spacing:1px;text-decoration:underline;}
.css_list {border-left:1px solid #FFF;border-top:1px solid #FFF;height:25px;padding:1px;text-align:center;}
.css_list input { background-color:#F8FCF1; border:1px solid #67981F; color:#476815; font-size:13px; line-height:100%; margin-top: 0; margin-right: 0px; margin-bottom: 0; margin-left: 0px; padding-top: 3px; padding-right: 0; padding-bottom: 0; padding-left: 0px; }
.css_list .checkbox{margin: 0px;padding: 0px;border-style: none;}
.css_norecord {background-color:#FBFBFB;color:red;font-size:14px;height:26px;text-align:center;}
.css_page_list {background-color:#e9e9e6;height:30px;text-align:center;}
.css_page_list input.inputs{background-color:#F8FCF1;border:1px solid #67981F;color:#476815;font-size:11px;line-height:100%;margin:0 2px;padding:3px 0 0 1px;}
.css_page_list select{font-size:10px;color:#666;}
.css_page_list a {background-color:#F9f9f9;border:1px solid #777;color:#666;font-size:13px;padding-left:4px;padding-right:4px;padding-top:2px;text-decoration:none;}
.css_page_list a:hover {background-color:#FEE;border:1px solid red;color:red;text-decoration:none;}
.css_page_list a.pagein {background-color:#FEE;border:1px solid red;color:red;font-size:13px;padding-left:4px;padding-right:4px;padding-top:2px;text-decoration:none;}
.css_col11 {background-color:#f5f5f4;border-left:1px solid #FFF;border-top:1px solid #FFF;color:#666;font-size:13px;height:25px;padding:4px;text-align:left;width:280px;}
.css_col11_content {background-color:#f5f5f4;border-left:1px solid #FFF;border-top:1px solid #FFF;color:#666;font-size:13px;height:25px;padding:4px;text-align:left;width:100px;}
.css_col21 {background-color:#f5f5f4;border-left:1px solid #FFF;border-top:1px solid #FFF;height:25px;padding:4px;text-align:left;}
.css_col12 {background-color:#f2f2f1;border-left:1px solid #FFF;border-top:1px solid #FFF;color:#666;font-size:13px;height:25px;padding:4px;width:280px;}
.css_col12_content {background-color:#f2f2f1;border-left:1px solid #FFF;border-top:1px solid #FFF;color:#666;font-size:13px;height:25px;padding:4px;width:100px;}
.css_col22 {background-color:#f2f2f1;border-left:1px solid #FFF;border-top:1px solid #FFF;height:25px;padding:4px;text-align:left;}
.css_input_del {width:90%;}
.css_textarea_del {height:100px;width:90%;}
.css_select_del {width:91%;}
.css_comment_list {background-color:#f4f4f4;color:#666;font-size:12px;text-align:left;}
.css_norecord td,.css_page_list td {border-left:1px solid #FFF;border-top:1px solid #FFF;}
.ajax_input{background-color:#F8FCF1;border:1px solid #67981F;color:#476815;font-size:13px;line-height:100%;margin:0 1px;padding:3px 0 0 1px;}

/*分页代码 Q3876307*/
.i5upage a,.i5upage span {
    display:inline-block;
    padding:2px 5px;
    margin:0 1px;
    border:1px solid #f0f0f0;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.i5upage a,.i5upage li {
    display:inline-block;
    list-style: none;
    text-decoration:none; color:#58A0D3;
}
.i5upage a.first,.i5upage a.prev,.i5upage a.next,.i5upage a.end{
    margin:0;
}
.i5upage a:hover{
    border-color:#50A8E6;
}
.i5upage span.current{
    background:#50A8E6;
    color:#FFF;
    font-weight:700;
    border-color:#50A8E6;
}