<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>水滴网</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="alternate icon" type="image/png" href="__PUBLIC__/Home/images/ico.png">
    <link rel="stylesheet" href="__PUBLIC__/amaze/css/amazeui.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Common/css/common.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Common/css/my-page.css"/>
    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
    <block name="style"></block>
</head>
<body>
<block name="header">
    <include file='Public:header'/>
</block>
<block name="body">

</block>
<div style="height: 50px"></div>
<block name="footer">
    <include file='Public:footer'/>
</block>
<!--[if lt IE 9]>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="__PUBLIC__/amaze/js/polyfill/rem.min.js"></script>
<script src="__PUBLIC__/amaze/js/polyfill/respond.min.js"></script>
<script src="__PUBLIC__/amaze/js/amazeui.legacy.js"></script>
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__PUBLIC__/amaze/js/jquery.min.js"></script>
<script src="__PUBLIC__/amaze/js/amazeui.min.js"></script>
<!--<![endif]-->
<script src="__PUBLIC__/Home/js/jquery.form.js"></script>
<script src="__PUBLIC__/layer-v1.9.3/layer/layer.js"></script>
<script src="__PUBLIC__/Common/js/common.js">

</script>
<block name="script"></block>
</body>
</html>

