<footer class="footer">
    <div class="am-g">
        <div class="am-u-lg-offset-2 am-u-lg-1 columns">
            <h3>友情链接</h3>
            <ul>
                <li>
                    <a target="_blank" >友情链接1</a>
                </li>
                <li>
                    <a target="_blank" >友情链接2</a>
                </li>
                <li>
                    <a target="_blank" >友情链接3</a>
                </li>
                <li>
                    <a target="_blank" >友情链接4</a>
                </li>
                <li>
                    <a target="_blank" >友情链接5</a>
                </li>
            </ul>
        </div>
        <div class="am-u-lg-1 columns">
            <h3>常见问题</h3>
            <ul>
                <li>
                    <a target="_blank" href="{:U('Home/Article/detail',array('article_id'=>1019))}" >如何发布文章？</a>
                </li>
                <li>
                    <a target="_blank" href="{:U('Home/Article/detail',array('article_id'=>1020))}" >什么是服务机构？</a>
                </li>
                <li>
                    <a target="_blank" href="{:U('Home/Article/detail',array('article_id'=>1021))}" >怎么才能添加分类？</a>
                </li>
                <li>
                    <a target="_blank" href="{:U('Home/Article/detail',array('article_id'=>1022))}" >我的文章怎么没了？</a>
                </li>
            </ul>
        </div>
        <div class="am-u-lg-1 columns">
            <h3>与我联系</h3>
            <ul>
                <li>
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=334808108&site=qq&menu=yes" target="_blank">QQ联系</a>
                </li>
                <li>
                    <a target="_blank" href="mailto:sd_net@yeah.net">邮箱</a>
                </li>
            </ul>
        </div>
        <div class="am-u-lg-1 columns">
            <h3>主要使用</h3>
            <ul>
                <li>
                    <a target="_blank" href="http://www.thinkphp.cn/">ThinkPHP</a>
                </li>
                <li>
                    <a target="_blank" href="http://www.qiniu.com/">七牛云存储</a>
                </li>
                <li>
                    <a target="_blank" href="http://amazeui.org/" >Amaze UI</a>
                </li>
            </ul>
        </div>
        <div class="am-u-lg-1 columns">
            <h3>关注水滴</h3>
            <img width="100%" src="http://7xkon4.com1.z0.glb.clouddn.com/FhpF66Uj6uawCOBWfxid-kVr7nFg">
        </div>
        <div class="am-u-lg-2 columns">
            <h3>捐赠水滴</h3>
            <img width="60%" src="__PUBLIC__/Common/image/zhifubao.png">
        </div>
        <div class="am-u-lg-3 columns">

        </div>
    </div>
    <div>
        <p>© 2015 power by demoto 辽ICP备15011214号</p>
    </div>
</footer>