<extend name="Public/common" />
<block name="style">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/common.css">
</block>
<block name="body">
    <div class="am-g admin-category">
        <div class="am-u-lg-10 am-u-lg-offset-1">
            <div class="am-g">
                <div class="am-u-lg-3">
                    <div class="admin-panel">
                        <div class="admin-panel-head">
                            <span class="am-icon-file-text-o"></span>
                        </div>
                        <div class="admin-panel-body">
                            文章：{$_articleCount}
                        </div>
                    </div>
                </div>
                <div class="am-u-lg-3" >
                    <div class="admin-panel">
                        <div class="admin-panel-head">
                            <span class="am-icon-user"></span>
                        </div>
                        <div class="admin-panel-body">
                            用户：{$_userCount}
                        </div>
                    </div>
                </div>
                <div class="am-u-lg-3">
                    <div class="admin-panel">
                        <div class="admin-panel-head">
                            <span class="am-icon-coffee"></span>
                        </div>
                        <div class="admin-panel-body">
                            商家：{$_orgCount}
                        </div>
                    </div>
                </div>
                <div class="am-u-lg-3">
                    <div class="admin-panel">
                        <div class="admin-panel-head">
                            <span class="am-icon-smile-o"></span>
                        </div>
                        <div class="admin-panel-body">
                            社工：{$_shegongCount}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script>

    </script>
</block>