<extend name="Public/common" />
<block name="style">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/common.css">
</block>
<block name="body">
    <div class="am-g admin-category">
        <div class="am-u-lg-10 am-u-lg-offset-1">
            <div class="am-g">
                <ol class="am-breadcrumb">
                    <li><a href="{:U('Admin/Index/index')}" class="am-icon-home">首页</a></li>
                    <li class="am-active">机构管理</li>
                </ol>
            </div>
            <div class="am-g">
                <div class="am-u-lg-10">
                    <div style="float: left">
                        <a class="am-btn am-btn-success">新建</a>
                    </div>
                    <div style="float: right">
                        <form class="am-form-inline" role="form">
                            <div class="am-form-group">
                                <input type="text" class="am-form-field" placeholder="标题">
                            </div>
                            <button type="submit" class="am-btn am-btn-primary">查询</button>
                        </form>
                    </div>
                </div>
            </div>
            <br>
            <div class="am-g">
                <div class="am-u-lg-10">
                    <table class="am-table am-table-bordered am-table-striped am-table-hover">
                        <thead>
                            <tr>
                                <th>logo</th>
                                <th>机构名称</th>
                                <th>创建者</th>
                                <th>主站地址</th>
                                <th>创建时间</th>
                                <th>审核时间</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <volist>
                                <tr class="">
                                    <td>Amaze UI(Active)</td>
                                    <td>Amaze UI(Active)</td>
                                    <td>Amaze UI(Active)</td>
                                    <td>Amaze UI(Active)</td>
                                    <td>Amaze UI(Active)</td>
                                    <td>Amaze UI(Active)</td>
                                    <td>http://amazeui.org</td>
                                    <td>
                                        <a class="am-btn am-btn-xs am-btn-primary">审核附件</a>
                                        &nbsp;
                                        <a class="am-btn am-btn-xs am-btn-success">通过审核</a>
                                        &nbsp;
                                        <a class="am-btn am-btn-xs am-btn-danger">禁用</a>
                                    </td>
                                </tr>
                            </volist>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="am-g">
                <div class="am-u-lg-10 my-page">
                    {$_html}
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script>

    </script>
</block>