<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>自定义标签管理</title>
<link href="images/Style.Css" rel="stylesheet" type="text/css" />
</head>
<body>

    <form name='frm' method='post' action='{:U('edit?id='.$qinfo['id'])}'>
	<table width=100% border=0 cellpadding=3 cellspacing=1 class=css_table bgcolor='#E1E1E1'>
	  <tr class=css_menu>
	    <td colspan=2><table width=100% border=0 cellpadding=4 cellspacing=0 class=css_main_table>
	        <tr>
	          <td class=css_main><a href={:U('index')}>自定义标签管理</a> <a href="http://b8bx.com/zishutongji.html" target="_blank">字数统计</a></td>
	        </tr>
	      </table></td>
	  </tr>
	  
	    
	    <tr>
	      <td class=css_col11>标签代码：<div id='hname' style="color:#ccc;letter-spacing: 0px;font-size:13px;">只能是英文,不可重复&nbsp;</div></td>
	      <td class=css_col21>
	      <input class='css_input' name="name" type="text" id="oname" onfocus="hname.style.color='red';" onblur="hname.style.color='#ccc';" value="{$qinfo.name}" size=40 >
	      若修改,请注意前台模板对应新名称 </td>
	    </tr>
	    
	    <tr>
	      <td class=css_col12>标签说明：<div id='hinfo' style="color:#ccc;letter-spacing: 0px;font-size:13px;">简要说是该标签的使用和用途&nbsp;</div></td>
	      <td class=css_col22>
	      <input class='css_input' name="info" type="text" id="oinfo" onfocus="hinfo.style.color='red';" onblur="hinfo.style.color='#ccc';" value="{$qinfo.info}" size=40 >
	      <br />        <style>
			form {
				margin: 0;
			}
			textarea {
				display: block;
			}
		</style>
            
        <script charset="utf-8" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
		<script>
			$(function() {
				var editor;
				$('input[name=load]').click(function() {
					$.getScript('{$installdir}inc/editor/kindeditor/kindeditor-min.js', function() {
						KindEditor.basePath = '{$installdir}inc/editor/kindeditor/';
						editor = KindEditor.create('textarea[name="code"]',{allowImageupload: false,allowFilemanager: false,allowFlashupload: false,allowMediaupload:false,allowFileupload:false,items : ['source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste','plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright','justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript', 'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/','formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold','italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image','flash', 'media', 'insertfile', 'table', 'hr', 'emoticons', 'baidumap', 'pagebreak','anchor', 'link', 'unlink', '|', 'about']});
					});
				});
				$('input[name=remove]').click(function() {
					if (editor) {
						editor.remove();
						editor = null;
					}
				});
			});
		</script>
		<input type="button" name="load" value="加载编辑器" />
		<input type="button" name="remove" value="删除编辑器" /></td>
	    </tr>
	    
	    <tr>
	      <td class=css_col11>HTML代码：<div id='hcode' style="color:#ccc;letter-spacing: 0px;font-size:13px;">HTML值,自定义的标签优先权最高,所以你可能调用系统标签&nbsp;<br />你可以使用＄＄＄区分多个标签值&nbsp;</div></td>
	      <td class=css_col21>
	      <textarea name="code" id="ocode" style="width:98%;height:400px;" onfocus="hcode.style.color='red';" onblur="hcode.style.color='#ccc';">{$qinfo.code}</textarea>
	      </td>
	    </tr>
        
        
		<tr>
	      <td class=css_col11>备注：<div id='hcode2' style="color:#ccc;letter-spacing: 0px;font-size:13px;">备注一些信息 防改错<br>当为空时，自动复制上方信息。</div></td>
	      <td class=css_col21>
	      <textarea name="code2" id="ocode2" style="width:98%;height:200px;" onfocus="hcode2.style.color='red';" onblur="hcode2.style.color='#ccc';">{$qinfo.code2}</textarea>
	      </td>
	    </tr>
        
        
	    <tr class=css_page_list>
	      <td colspan=2><input type='submit' name='Submit' value='保存'></td>
	    </tr>
	  
	</table>
    </form>
	
</body>
</html>